
@model PaginatedList<Slider>
@{
    ViewBag.Title = "Index";
    int dataOrder = (Model.PageIndex -1)*2;
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Sliders</h1><a class="btn btn-primary" asp-controller="slider" asp-action="create">Create</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Order </th>
                        <th scope="col">Title1</th>
                        <th scope="col">Title2</th>
                        <th scope="col">Image</th>

                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        dataOrder++;
                        <tr>
                            <th scope="row">@dataOrder</th>
                            <td>@item.Order</td>
                            <td>@item.Title1</td>
                            <td>@item.Title2</td>
                            <td>
                                <img width="150" src="~/manage/uploads/sliders/@item.ImageName" />
                            </td>


                            <td>
                                <a asp-controller="slider" asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrev?"":"disabled")">
                        <span class="page-link">Previous</span>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageIndex==i?"active":"")"><a class="page-link" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item  @(Model.HasNext?"":"disabled")">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>