@model PaginatedList<Genre>
@{
    ViewData["Title"] = "Index";
    int dataOrder = (Model.PageIndex - 1) * 2;
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="search" value="@ViewBag.Search" type="text" class="form-control" placeholder="Search">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </div>
                </div>              
            </form>
        </div>
        <div class="col-md-8">
            <h1>Genres</h1><a class="btn btn-primary" asp-controller="genre" asp-action="create">Create</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">BookCount</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        dataOrder++;
                        <tr>
                            <th scope="row">@dataOrder</th>
                            <td>@item.GenreName</td>
                            <td>@item.Books.Count</td>
                            <td>
                                <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(Model.HasPrev?"":"disabled")">
                        <span class="page-link">Previous</span>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageIndex==i?"active":"")"><a class="page-link" asp-route-search="@ViewBag.Search" asp-route-page="@i">@i</a></li>
                    }
                    <li class="page-item  @(Model.HasNext?"":"disabled")">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>
